* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

main {
    width: 18rem;
    height: 32rem;
    background-color: black;
    border: 3px solid white;
    overflow: hidden;
    border-radius: 50px;



}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 3.5rem);
    gap: 0.5rem;
    width: max-content;
    margin: auto;



}

.button {
    height: 3.5rem;
    position: relative;
    background-color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 50%;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.sign {
    background-color: #f69906;

}

.button:hover {
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0.3);


}

.sign:hover {
    background-color: #fca626;

}

/* #a0a0a0 */
#equal {
    height: 7rem;
    border-radius: 10px;


}

.button:first-of-type {
    background-color: #a0a0a0;
    color: black;
}

.button:first-of-type:hover {
    background-color: #cfcaca;
}

.button:last-child,
.button:nth-last-child(2),
.button:nth-last-child(3) {
    margin-top: -3.5rem;
}

::-webkit-scrollbar {
    height: 0px;
    border-radius: 20px;
    background-color: white;
}

.display {
    height: 8rem;
    margin: auto;
    margin-bottom: 1.5rem;
    width: 18rem;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 0rem 2rem;
    padding-top: 4rem;
    overflow: auto;


}

.footer {
    width: 7rem;
    height: 0.43rem;
    background-color: white;
    margin: auto;
    margin-top: 2rem;
    border-radius: 20px;
}

@media (max-width:640px) {
    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

    }

    main {
        width: 100%;
        height: 100%;
        border-radius: 0;
        border: 0;
    }
}